PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'2026_06_16_183513_create_personal_access_tokens_table',1);
INSERT INTO migrations VALUES(2,'2026_06_16_183601_create_sessions_table',1);
INSERT INTO migrations VALUES(3,'2026_06_17_161131_create_password_reset_tokens_table',1);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" text not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('W02TT5j9AQ0dcv8iRsaDUrm0lrYFuhewk0sU4t0G',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36','eyJfdG9rZW4iOiJGU2NrSGJYMXZPUEtRSUZLdk1QR2xHdTl2dlFKbnhqaXNCREpkRWd6IiwiX2ZsYXNoIjp7Im9sZCI6W10sIm5ldyI6W119LCJfcHJldmlvdXMiOnsidXJsIjoiaHR0cDpcL1wvMTI3LjAuMC4xOjgwMDBcL2xvZ2luIiwicm91dGUiOiJsb2dpbiJ9fQ==',1782720657);
INSERT INTO sessions VALUES('cCol8zLJspx8yANfzzvDAb4StZ3bhaFckSEzbWgP',2,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36','eyJfdG9rZW4iOiJ0cVlMTnhRejhLQjZJOW91d2RVVnIybHhNb2NCOFZPTWc3RXlXc0JwIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwXC9wZWdhd2FpXC9zdXJhdFwva2VsdWFyIiwicm91dGUiOiJwZWdhd2FpLnN1cmF0LmtlbHVhciJ9LCJfZmxhc2giOnsib2xkIjpbXSwibmV3IjpbXX0sImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjoyfQ==',1782729569);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "units" ("id" integer primary key autoincrement not null, "nama_unit" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "pegawais" ("id" integer primary key autoincrement not null, "unit_id" integer not null, "nama_pegawai" varchar not null, "jabatan" varchar not null, "created_at" datetime, "updated_at" datetime, foreign key("unit_id") references "units"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "role" varchar check ("role" in ('admin', 'pegawai', 'umum')) not null default 'pegawai', "deleted_at" datetime, "nip" varchar, "phone" varchar, "organization" varchar, "address" text, "profile_photo_path" varchar);
INSERT INTO users VALUES(1,'Test User','test@example.com','2026-06-29 12:02:56','$2y$12$A6jN1Qc.0rqOjcUsPIavZ.ltdSxrAQatDguBFKsUfd/6AApaNY0z6','p0XVIvDlZT','2026-06-29 12:02:56','2026-06-29 12:27:53','admin',NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(2,'Fitri Mayani','fitrimayani@gmail.com',NULL,'$2y$12$NiR27kOFvXCpznubGFtMbOYh6aKQgBUvVZ3D8KPs/IiynBgaPPqD.',NULL,'2026-06-29 12:17:23','2026-06-29 12:17:23','pegawai',NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(3,'aureliamaria','aureliamaria@gmail.com',NULL,'$2y$12$KjdYRWrm/yh3fmx6whJgHuiyjnMRfpUnGMkyyezh/3vOKVNGNhB8a',NULL,'2026-06-30 10:28:41','2026-06-30 10:28:41','admin',NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "disposisis" ("id" integer primary key autoincrement not null, "surat_id" integer not null, "pengirim_id" integer not null, "penerima_id" integer not null, "isi_disposisi" text not null, "status" varchar check ("status" in ('baru', 'dibaca', 'diproses', 'selesai')) not null default 'baru', "tanggal_disposisi" date, "created_at" datetime, "updated_at" datetime, foreign key("surat_id") references "surats"("id") on delete cascade, foreign key("pengirim_id") references "users"("id") on delete cascade, foreign key("penerima_id") references "users"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
INSERT INTO cache VALUES('laravel-cache-cantikaabigail@gmail.com|127.0.0.1:timer','i:1782728500;',1782728500);
INSERT INTO cache VALUES('laravel-cache-cantikaabigail@gmail.com|127.0.0.1','i:1;',1782728500);
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "permissions" ("id" integer primary key autoincrement not null, "name" varchar not null, "guard_name" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "roles" ("id" integer primary key autoincrement not null, "name" varchar not null, "guard_name" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "model_has_permissions" ("permission_id" integer not null, "model_type" varchar not null, "model_id" integer not null, foreign key("permission_id") references "permissions"("id") on delete cascade, primary key ("permission_id", "model_id", "model_type"));
CREATE TABLE IF NOT EXISTS "model_has_roles" ("role_id" integer not null, "model_type" varchar not null, "model_id" integer not null, foreign key("role_id") references "roles"("id") on delete cascade, primary key ("role_id", "model_id", "model_type"));
CREATE TABLE IF NOT EXISTS "role_has_permissions" ("permission_id" integer not null, "role_id" integer not null, foreign key("permission_id") references "permissions"("id") on delete cascade, foreign key("role_id") references "roles"("id") on delete cascade, primary key ("permission_id", "role_id"));
CREATE TABLE IF NOT EXISTS "jabatan" ("id" integer primary key autoincrement not null, "nama" varchar not null, "created_at" datetime, "updated_at" datetime, "kode" varchar, "deskripsi" text);
INSERT INTO jabatan VALUES(31,'Kepala Kantor','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
INSERT INTO jabatan VALUES(32,'Sekretaris','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
INSERT INTO jabatan VALUES(33,'Kepala Subbagian','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
CREATE TABLE IF NOT EXISTS "unit_kerja" ("id" integer primary key autoincrement not null, "nama" varchar not null, "created_at" datetime, "updated_at" datetime, "kode" varchar, "deskripsi" text);
INSERT INTO unit_kerja VALUES(31,'Sekretariat','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
INSERT INTO unit_kerja VALUES(32,'Subbagian Tata Usaha','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
INSERT INTO unit_kerja VALUES(33,'Seksi Penetapan Hak','2026-07-22 20:05:05','2026-07-22 20:05:05',NULL,NULL);
CREATE TABLE IF NOT EXISTS "surat_masuk" ("id" integer primary key autoincrement not null, "nomor_surat" varchar not null, "asal_surat" varchar not null, "jenis" varchar not null, "perihal" varchar not null, "tanggal_surat" date not null, "tanggal_diterima" date not null, "status" varchar check ("status" in ('Belum Diproses', 'Diproses', 'Selesai')) not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "surat_keluar" ("id" integer primary key autoincrement not null, "nomor_surat" varchar not null, "tujuan_surat" varchar not null, "jenis" varchar not null, "perihal" varchar not null, "tanggal_surat" date not null, "penandatangan" varchar not null, "status" varchar check ("status" in ('Draft', 'Menunggu Persetujuan', 'Disetujui', 'Terkirim')) not null default 'Draft', "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "disposisi" ("id" integer primary key autoincrement not null, "surat_id" integer not null, "pengirim_id" integer not null, "catatan" text not null, "prioritas" varchar check ("prioritas" in ('Rendah', 'Sedang', 'Tinggi')) not null default 'Sedang', "tanggal_disposisi" date not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("surat_id") references "surats"("id") on delete cascade, foreign key("pengirim_id") references "users"("id") on delete cascade);
INSERT INTO disposisi VALUES(1,16,1,'Segera diproses oleh bagian tata usaha.','Tinggi','2026-07-22 20:05:06','2026-07-22 20:05:06','2026-07-22 20:05:06',NULL);
INSERT INTO disposisi VALUES(2,16,1,'Pelajari isi surat dan buat balasan.','Sedang','2026-07-21 20:05:06','2026-07-22 20:05:06','2026-07-22 20:05:06',NULL);
INSERT INTO disposisi VALUES(3,16,1,'Arsipkan setelah selesai.','Rendah','2026-07-20 20:05:06','2026-07-22 20:05:06','2026-07-22 20:05:06',NULL);
CREATE TABLE IF NOT EXISTS "disposisi_tujuans" ("id" integer primary key autoincrement not null, "disposisi_id" integer not null, "pegawai_id" integer not null, "status" varchar check ("status" in ('Belum Dibaca', 'Sudah Dibaca', 'Selesai')) not null default 'Belum Dibaca', "dibaca_pada" datetime, "selesai_pada" datetime, "created_at" datetime, "updated_at" datetime, foreign key("disposisi_id") references "disposisi"("id") on delete cascade, foreign key("pegawai_id") references "pegawai"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "pegawai" ("id" integer primary key autoincrement not null, "nip" varchar not null, "nama" varchar not null, "email" varchar, "no_hp" varchar, "alamat" text, "jabatan_id" integer, "unit_kerja_id" integer, "created_at" datetime, "updated_at" datetime, "user_id" integer, "deleted_at" datetime, "nipp" varchar, foreign key("unit_kerja_id") references unit_kerja("id") on delete set null on update no action, foreign key("jabatan_id") references jabatan("id") on delete set null on update no action, foreign key("user_id") references "users"("id") on delete set null);
INSERT INTO pegawai VALUES(21,'198801010001','Budi Santoso','budi@atrbpn.com','081234567890','Jakarta',31,31,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL);
INSERT INTO pegawai VALUES(22,'198801010002','Siti Aminah','siti@atrbpn.com','081234567891','Bandung',32,32,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL);
INSERT INTO pegawai VALUES(23,'198801010003','Ahmad Fauzi','ahmad@atrbpn.com','081234567892','Bogor',34,33,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "log_aktivitas" ("id" integer primary key autoincrement not null, "user_id" integer, "action" varchar not null, "description" text, "created_at" datetime, "updated_at" datetime, "surat_id" integer, foreign key("user_id") references users("id") on delete set null on update no action, foreign key("surat_id") references "surats"("id") on delete set null);
INSERT INTO log_aktivitas VALUES(1,4,'Registrasi Akun','Membuat akun admin melalui registrasi.','2026-07-22 19:27:59','2026-07-22 19:27:59',NULL);
INSERT INTO log_aktivitas VALUES(2,4,'Perbarui Profil','Informasi profil akun diperbarui.','2026-07-22 19:31:37','2026-07-22 19:31:37',NULL);
INSERT INTO log_aktivitas VALUES(3,4,'Ubah Password','Password akun berhasil diperbarui.','2026-07-22 19:31:59','2026-07-22 19:31:59',NULL);
CREATE TABLE IF NOT EXISTS "surats" ("id" integer primary key autoincrement not null, "user_id" integer, "jenis_surat" varchar not null, "nomor_surat" varchar not null, "tanggal_surat" date not null, "nomor_agenda" varchar, "kode_surat" varchar, "judul_surat" varchar, "perihal" varchar, "asal_surat" varchar, "tujuan_surat" varchar, "metode" varchar, "deskripsi" text, "file_path" varchar, "is_priority" tinyint(1) not null default ('0'), "status" varchar not null default 'draft', "catatan_admin" text, "created_at" datetime, "updated_at" datetime, "lampiran" varchar, "tanggal_kirim" date, "tanggal_keluar" date, "penandatangan" varchar, "jabatan_pimpinan_id" integer, "nama_pimpinan" varchar, "diteruskan_oleh" integer, "diteruskan_pada" datetime, "metode_penerusan" varchar, "catatan_pengantar" text, "deleted_at" datetime, "kategori_pengajuan" varchar, "nomor_kontak" varchar, "asal_instansi" varchar, foreign key("jabatan_pimpinan_id") references jabatan("id") on delete set null on update no action, foreign key("user_id") references users("id") on delete set null on update no action, foreign key("diteruskan_oleh") references "users"("id") on delete set null);
INSERT INTO surats VALUES(16,1,'masuk','001/SM/2026','2026-07-22 00:00:00','AGD-001','SM-001','Permohonan Data','Permohonan Data','Kementerian ATR/BPN','Kantor ATR/BPN','Manual','Contoh surat masuk.',NULL,0,'menunggu',NULL,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO surats VALUES(17,1,'masuk','002/SM/2026','2026-07-21 00:00:00','AGD-002','SM-002','Undangan Rapat','Rapat Bulanan','BPN Pusat','Kantor ATR/BPN','Email','Undangan rapat koordinasi.',NULL,1,'diproses',NULL,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO surats VALUES(18,1,'keluar','001/SK/2026','2026-07-20 00:00:00','AGD-003','SK-001','Balasan Surat','Balasan Permohonan','Kantor ATR/BPN','Kementerian ATR/BPN','Manual','Balasan permohonan data.',NULL,0,'selesai',NULL,'2026-07-22 20:05:06','2026-07-22 20:05:06',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "settings" ("id" integer primary key autoincrement not null, "key" varchar not null, "value" text, "group" varchar not null default 'general', "created_at" datetime, "updated_at" datetime);
INSERT INTO settings VALUES(1,'app_name','E-Office','general','2026-07-22 19:38:28','2026-07-22 19:38:28');
INSERT INTO settings VALUES(2,'app_subtitle','Administrasi Digital','general','2026-07-22 19:38:28','2026-07-22 19:38:28');
INSERT INTO settings VALUES(3,'incoming_default_status','diajukan','letter','2026-07-22 19:38:28','2026-07-22 19:38:28');
CREATE TABLE IF NOT EXISTS "beritas" ("id" integer primary key autoincrement not null, "user_id" integer not null, "judul" varchar not null, "isi" text not null, "kategori" varchar not null default 'pengumuman', "is_published" tinyint(1) not null default '0', "published_at" datetime, "file_path" varchar, "deleted_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO beritas VALUES(1,1,'Pelayanan Digital ATR/BPN','Layanan pertanahan dan penataan ruang kini dapat diakses secara digital. Masyarakat dapat mengajukan permohonan secara online melalui sistem e-Office.','berita',1,'2026-07-21 19:21:32',NULL,NULL,'2026-07-24 19:21:32','2026-07-24 19:21:32');
INSERT INTO beritas VALUES(2,1,'Pemutihan Pajak Bumi dan Bangunan','Program pemutihan PBB tahun ini telah dimulai. Pastikan data kepemilikan tanah dan bangunan terverifikasi sebelum mengajukan permohonan.','pengumuman',1,'2026-07-23 19:21:32',NULL,NULL,'2026-07-24 19:21:32','2026-07-24 19:21:32');
INSERT INTO beritas VALUES(3,1,'Jadwal Pelayanan Terbaru','Pelayanan administrasi pertanahan dan tata ruang beroperasional setiap hari kerja mulai pukul 08.00 hingga 16.00 WIB.','pengumuman',1,'2026-07-24 14:21:32',NULL,NULL,'2026-07-24 19:21:32','2026-07-24 19:21:32');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',39);
INSERT INTO sqlite_sequence VALUES('users',9);
INSERT INTO sqlite_sequence VALUES('pegawai',27);
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE INDEX "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE UNIQUE INDEX "permissions_name_guard_name_unique" on "permissions" ("name", "guard_name");
CREATE UNIQUE INDEX "roles_name_guard_name_unique" on "roles" ("name", "guard_name");
CREATE INDEX "model_has_permissions_model_id_model_type_index" on "model_has_permissions" ("model_id", "model_type");
CREATE INDEX "model_has_roles_model_id_model_type_index" on "model_has_roles" ("model_id", "model_type");
CREATE UNIQUE INDEX "surat_keluar_nomor_surat_unique" on "surat_keluar" ("nomor_surat");
CREATE UNIQUE INDEX "pegawai_email_unique" on "pegawai" ("email");
CREATE UNIQUE INDEX "pegawai_nip_unique" on "pegawai" ("nip");
CREATE UNIQUE INDEX "surats_nomor_surat_unique" on "surats" ("nomor_surat");
CREATE UNIQUE INDEX "pegawai_user_id_unique" on "pegawai" ("user_id");
CREATE UNIQUE INDEX "settings_key_unique" on "settings" ("key");
CREATE INDEX "settings_group_index" on "settings" ("group");
CREATE UNIQUE INDEX "users_nip_unique" on "users" ("nip");
CREATE INDEX "beritas_kategori_is_published_published_at_index" on "beritas" ("kategori", "is_published", "published_at");
COMMIT;
